.traffic-light {
  width: 120px;
  height: 250px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
}

.light {
  width: 70%;
  height: 70px;
  border-radius: 50%;
}

.red {
  background-color: #e74c3c;
}

.yellow {
  background-color: #f1c40f;
}

.green {
  background-color: #2ecc71;
  
}

.active {
  box-shadow: 0 0 20px 10px white;
}

